@model Northwind.DTO.Customer.CreateCustomerDto

<form method="post" action="/api/Customer">
    <label>Company Name</label>
    <input asp-for="CompanyName" class="form-control" />

    <label>Contact Name</label>
    <input asp-for="ContactName" class="form-control" />

    <label>Contact Title</label>
    <input asp-for="ContactTitle" class="form-control" />

    <label>Address</label>
    <input asp-for="Address" class="form-control" />

    <label>City</label>
    <input asp-for="City" class="form-control" />

    <label>Region</label>
    <input asp-for="Region" class="form-control" />

    <label>Postal Code</label>
    <input asp-for="PostalCode" class="form-control" />

    <label>Country</label>
    <input asp-for="Country" class="form-control" />

    <label>Phone</label>
    <input asp-for="Phone" class="form-control" />

    <label>Fax</label>
    <input asp-for="Fax" class="form-control" />

    <button type="submit" class="btn btn-primary mt-2">Add</button>
</form>
